/*----------------------------------*\
  #Font
\*----------------------------------*/

$root-font-size:         calc(1em + 0.75vh) !default;
$line-height:            1.15 !default;
$primary-font-family:    utopia-std, serif !default;
$secondary-font-family:  itc-avant-garde-gothic-pro, sans-serif !default;


$font-xs:   0.5rem;
$font-s:    0.75rem;
$font-ms:   0.85rem;
$font-m:    1rem;
$font-mlg:  1.13rem;
$font-lg:   1.25rem;
$font-xl:   1.5rem;