.c-modal {
  display: block;

  &__heading {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #555555;
  }
}

.c-modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5)
}

.c-modal__body {
  background-color: white;
  height: 86%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 0.5em 0;
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}