<details open>
    <summary class="divider padded">
        <div class="box"></div>
        <div class="count-container">
            @if(Selected == null || Selected.Count() == 0)
            {
                <p class="count">0</p>
            } 
            else
            {
                <p class="count">@GetBowlRating()</p>
            }
        </div>
    </summary>
      
    @if(Selected !=null && Selected.Any())
    {
        <div class="o-container o-container--80">
            @foreach(var ingredient in Selected)
            {
                <RatedIngredient Ingredient="ingredient" OnSelected="RemoveIngredient"/>
            }
        </div>
        <div class="padded">
            <hr>
        </div>
    }
</details>


@code {
    [Parameter, EditorRequired]
    public List<Ingredient>? Selected { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<Ingredient> RemoveIngredient { get; set; }

    public int GetBowlRating()
    {
        int rating = 0;
        foreach(Ingredient ingredient in Selected)
        {
            rating += ingredient.Rating;
        }
        return rating / Selected.Count();
    }
}
