@use "../00-settings/colors.settings";
@use "../00-settings/fonts.settings";

.o-container {
    margin: 0 auto;
    width: 100%;
    background-color: inherit;

    &--30 {
        width: 30%;
    }

    &--40 {
        width: 40%;
    }

    &--50 {
        width: 50%;
    }

    &--75 {
        width: 75%;
    }

    &--80 {
        width: 80%;
    }

    &--85 {
        width: 85%;
    }

    &--90 {
        width: 90%;
    }

    &--95 {
        width: 95%;
    }
}

.o-container--centered {
    max-width: 620px;
    overflow-x: hidden;
}

.o-container--sticky {
  position: sticky;
  z-index: 1;
}

.o-container--absolute {
  position: absolute;
}

.o-container--top {
  top: 0;
}

.o-container--below-header {
  top: 2rem;
}

.o-container--bottom {
  bottom: 0;
}

@media (max-width: 350px) {
    .o-container--below-header {
        top: 0.5rem;
    }
}